VM_RAM=8192
VM_CPUS=4
DB_USER=acore
DB_PASS=
ACORE_REPO=https://github.com/mod-playerbots/azerothcore-wotlk.git
ACORE_BRANCH=Playerbot
ACORE_REF=
MOD_PLAYERBOTS_REF=
MOD_AH_BOT_PLUS_REF=
MOD_AUTOBALANCE_REF=
MOD_AOE_LOOT_REF=
MOD_LEARN_SPELLS_REF=
MOD_SOLO_LFG_REF=
MOD_CHALLENGE_MODES_REF=
MOD_PLAYER_BOT_LEVEL_BRACKETS_REF=
MOD_JUNK_TO_GOLD_REF=
MOD_RARE_DROPS_REF=fix
MOD_TRANSMOG_REF=
MOD_REAGENT_BANK_ACCOUNT_REF=
MOD_DAILY_RESET_REF=
MOD_FLY_ANYWHERE_REF=
MOD_PORTALS_IN_ALL_CAPITALS_REF=
EXTERNAL_IP=
AHBOT_ACCOUNT_NAME=ahbot
AHBOT_ACCOUNT_PASS=ahbot123!
AHBOT_CHARACTER_NAME=Marchand
SOAP_USER=admin
SOAP_PASS=admin
SOAP_PORT=7878
