VM_RAM=8192
VM_CPUS=4
VM_DISK_SIZE=80GB
DB_USER=acore
DB_PASS=
MYSQL_INNODB_BUFFER_POOL_SIZE=
MYSQL_INNODB_BUFFER_POOL_INSTANCES=
MYSQL_INNODB_LOG_FILE_SIZE_MB=
DB_BACKUP_DIR=/home/vagrant/backups
DB_BACKUP_RETENTION=7
ACORE_REPO=https://github.com/mod-playerbots/azerothcore-wotlk.git
ACORE_BRANCH=Playerbot
ACORE_REF=
MOD_PLAYERBOTS_REF=
MOD_AH_BOT_PLUS_REF=
MOD_AUTOBALANCE_REF=
MOD_AOE_LOOT_REF=
MOD_LEARN_SPELLS_REF=
MOD_SOLO_LFG_REF=
MOD_CHALLENGE_MODES_REF=
MOD_PLAYER_BOT_LEVEL_BRACKETS_REF=
MOD_JUNK_TO_GOLD_REF=
MOD_RARE_DROPS_REF=fix
MOD_TRANSMOG_REF=
MOD_REAGENT_BANK_ACCOUNT_REF=
MOD_DAILY_RESET_REF=
MOD_FLY_ANYWHERE_REF=
MOD_MOUNT_SCALING_REF=
MOD_ALE_REF=
MOD_QUEST_LOOT_PARTY_REF=
MOD_TIME_IS_TIME_REF=
MOD_BOSS_ANNOUNCER_REF=
MOD_AUTO_REVIVE_REF=
ALE_LUA_VERSION=lua52
MOD_PORTALS_IN_ALL_CAPITALS_REF=
EXTERNAL_IP=127.0.0.1
AHBOT_ACCOUNT_NAME=ahbot
AHBOT_ACCOUNT_PASS=ahbot123!
SOAP_USER=admin
SOAP_PASS=admin
SOAP_PORT=7878
